/* The Scholars Cooperative
 * Wayne State University Library System
 */

#header {
	background: url('img/bg.jpg') repeat;
	background-position: 50% 50%;
}

#wsuls {
	padding: 10px 0;
	background: #eeeeee;
}

#header .navbar .pull-right a {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	//letter-spacing: 2px;
	line-height: 20px;
	padding-top: 0px;
}

#header .navbar .pull-right a:hover {
	text-decoration: underline;
}

#header .navbar-brand {
	font-weight: bold;
	font-size: 20px;
	//letter-spacing: 2px;
}

#header .navbar-brand strong {
	font-weight: 600;
	letter-spacing: 1px;
}

#header .navbar-brand:hover {
	color: #000000;
}

#header p {
	padding: 70px 0 20px;
	}

#services {
  padding: 40px 0 10px 0px;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 19px;
  text-align: center;
}

#highlights {
  padding: 20px 0 50px;
}

#highlights h3 {
	font-size: 38px;
	text-align: center;
}

#highlights h4 {
  	color: #408C80;
	font-family: 'Titillium Web',sans-serif;
	font-size: 34px;
	padding-left:0px;
	padding-bottom:20px;
}

.icon-users-2 {
	color: #333;
	padding-right: 5px;
}

.icon-graduation-cap-1, .icon-book-open {
	color: #333;
}
  
#highlights ul li {
  line-height: 30px;
  font-family: 'Roboto',sans-serif;

}

#news {
  padding: 70px 0;
  background: #fbfbf6;
  color: #434343;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

#news h4 a {
  	color: #3d3d3d;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	display: block;
}

.date {
	padding-top: 35px;
	color: #949494;
	font-family: 'Titillium Web',sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
}

#news h5 {
	color: #408C80;
	font-family: 'Titillium Web',sans-serif;
	font-size: 22px;
	line-height: 1.2em;
	display: block;
}

#news i {
	color: #ff6600;
}

#news .date {
	padding-bottom: 15px;
}

#news p.more {
	padding: 20px 0;
}

#news p {
	padding: 1px 0;
	color: #434343;
	display: block;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

#contacts {
  padding: 70px 0;
  text-align: center;
}

#contacts h4 {
	padding-bottom: 0px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	display: block;
}

#contacts p.scemail {
	color: #408C80;
	font-size: 21px;
}

.title {
	padding-bottom: 50px;
}


#contacts .col-lg-4 {
	margin: 0 0 55px 0;
}

#thanks h2 {
	padding-bottom: 40px;
}

.rightborder {
	border-right: 1px solid #eeeeee;
}

#contacts h5 {
	color: #408C80;
	font-family: 'Titillium Web',sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

#contacts .col-lg-4 h5 {
	font-size: 22px;
}

#contacts h5 a {
	color: #000000;
	text-decoration: none;
}

#contacts p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	margin: 0 0 3px;
}

#contacts .team {
	padding-top: 50px;
}

p.digits {
	font-weight: 300;
	font-size:12px;
}

#footer {
  padding: 50px 0px 30px;
  font-size: 11px;
  color: #666666;
  text-align: center;
//  background: #f8f8f8;
}

#footer img {
	margin: auto;
	display: block;
	padding-bottom: 30px;
}

#footer address {
	display:inline;
}

#footer address a, #footer a {
	color: #666666;
}

@media (min-width: 320px) and (max-width: 679px) {
.container {
		max-width: 95%;
	}

	#header p {
		padding: 50px 0 20px;
		font-size: 18px;
		text-align: center;
	}
	#services {
		font-size: 15px;
		text-align: center;
	}

	#highlights {
		padding: 20px 0;
	}

	#highlights .col-sm-4 {
		padding-bottom: 20px;
	}

	#highlights h4 {
		font-size: 26px;
	}

	.rightborder {
		border: none;
	}

	#news h4 a {
	font-size: 12px;
}

	#news h5 {
		font-size: 20px;
	}

	#news p {
		font-size: 14px;
		line-height: 1.428571429;
	}

	.title {
	padding-bottom: 20px;
	}

	#contacts h4 {
		padding-bottom: 10px;
		font-size: 14px;
	}

	#contacts h5 a {
		font-size: 18px;
	}

	#contacts p.scemail {
		font-size: 16px;
	}

	#contacts .col-lg-4 h5 {
		font-size: 35px;
	}

	#contacts .col-lg-4 p {
		padding-top: 10px;
		margin: 0;
		font-size: 16px;
	}

	form {
		padding: 0;
	}

	#contacts .otherservices {
		padding: 40px 0;
	}

	#contacts .otherservices h5 {
		font-size: 35px;
	}

	#contacts .team {
		padding-top: 10px;
	}

	#contacts .team h5 {
		padding-top: 40px;
		font-size: 24px;
	}
}

/* SAMSUNG GALAXY */
@media (min-width: 680px) and (max-width: 767px) {
	.container {
		max-width: 95%;
	}

	#header p {
		padding: 80px 0 20px;
		font-size: 20px;
		text-align: justify;
	}
	#services {
		font-size: 17px;
		text-align: justify;
	}

	#highlights {
		padding: 20px 0;
	}

	#highlights .col-sm-4 {
		padding-bottom: 20px;
	}

	.rightborder {
		border: none;
	}


	#news h4 a {
	font-size: 14px;
}

	#news h5 {
		font-size: 30px;
	}

	#news p {
		font-size: 14px;
		line-height: 1.428571429;
	}

	#contacts h4 {
		padding-bottom: 30px;
	}

	#contacts .col-lg-4 h5 {
		font-size: 35px;
	}

	#contacts .col-lg-4 p {
		padding-top: 10px;
		margin: 0;
		font-size: 16px;
	}

	#contacts .col-12 {
		font-size: 30px;
		padding: 40px 0;
	}


	#contacts .col-12 h5 {
		font-size: 30px;
	}

	#contacts .team {
		padding-top: 10px;
	}

	#contacts .team h5 {
		padding-top: 40px;
		font-size: 30px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	.team .col-sm-6 {
		padding-top: 50px;
	}

	#header p {
		padding: 40px 0 0;
		font-size: 23px;
	}

	#services {
		font-size: 16px;
	}

	#highlights {
		padding: 20px 0 30px;
	}

	#highlights h4 {
		font-size: 21px;
		padding: 0 0 10px;
	}

	#highlights ul {
		font-size: 12px;
	}


	#news h4 a {
	font-size: 14px;
}

	.title {
		padding-bottom: 20px;
	}

	#contacts .col-lg-4 h5 {
		font-size: 35px;
	}

	#contacts .col-lg-4 p {
		padding-top: 15px;
		margin: 0;
		font-size: 16px;
	}

}

@media (min-width: 992px) and (max-width: 1249px) {
	#header p {
		padding: 50px 0 0;
		font-size: 20px;
	}

	.jumbotron {
		font-size: 20px;
	}

	#highlights {
		padding: 30px 0 50px;
	}

	#highlights h4 {
	  	color: #408C80;
		font-family: 'Titillium Web',sans-serif;
		font-size: 26px;
		padding-left:0px;
		padding-bottom:20px;
	}

	#services {
	  font-size: 15px;
	}


	#news h4 a {
	font-size: 14px;
}

	#contacts .col-lg-4 h5 {
		font-size: 19px;
	}

	#contacts h5 {
		font-size: 16px;
	}

}

@media (min-width: 1250px) {
	#contacts h5 {
		font-size: 19px;
	}
