
.icon-inform:before { content: '\e80b'; } /* '' */
.icon-checkbox:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-consult:before { content: '\e81b'; } /* '' */
.icon-rss:before { content: '\e800'; } /* '' */
.icon-publish:before { content: '\e811'; } /* '' */